<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="nova.compute.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="nova.compute.ui.Perspective"
            id="nova.compute.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="nova.compute.ui.application"
            name="OpenStack Nova Windows">
         <property
               name="windowImages"
               value="icons/openstack16.png,icons/openstack_32.png">
         </property>
         <property
               name="appName"
               value="OpenStack Nova Windows">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="nova.compute.ui.openstack"
            name="OpenStack Category">
      </category>
      <view
            category="nova.compute.ui.openstack"
            class="nova.compute.ui.views.MainMenuView"
            icon="icons/sample.gif"
            id="nova.compute.ui.views.MainMenuView"
            name="Main Menu">
      </view>
      <view
            category="nova.compute.ui.openstack"
            class="nova.compute.ui.views.ConfigView"
            icon="icons/sample.gif"
            id="nova.compute.ui.views.ConfigView"
            name="Config">
      </view>
      <view
            category="nova.compute.ui.openstack"
            class="nova.compute.ui.views.TaskView"
            icon="icons/sample.gif"
            id="nova.compute.ui.views.TaskView"
            name="Task">
      </view>
      <view
            category="nova.compute.ui.openstack"
            class="nova.compute.ui.views.ImageView"
            icon="icons/sample.gif"
            id="nova.compute.ui.views.ImageView"
            name="Images">
      </view>
      <view
            category="nova.compute.ui.openstack"
            class="nova.compute.ui.views.VolumeView"
            icon="icons/sample.gif"
            id="nova.compute.ui.views.VolumeView"
            name="Volumes">
      </view>
      <view
            category="nova.compute.ui.openstack"
            class="nova.compute.ui.views.NetworkView"
            icon="icons/sample.gif"
            id="nova.compute.ui.views.NetworkView"
            name="Networks">
      </view>
      <view
            category="nova.compute.ui.openstack"
            class="nova.compute.ui.views.DashboadView"
            icon="icons/sample.gif"
            id="nova.compute.ui.views.DashboadView"
            name="Dashboad">
      </view>
   </extension>

</plugin>
